<nav>
  <div class="class-title">
    <a href="">Pokedex</a>
    <p>Gen 1 Pokedex</p>
  </div>

  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/pokemons/create">New Pokemon</a>
    </li>
  </ul>
</nav>
