<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Page</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
        cumque voluptatibus. Illum neque ea, earum ex explicabo blanditiis
        soluta hic error voluptates, nihil culpa asperiores!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
        cumque voluptatibus. Illum neque ea, earum ex explicabo blanditiis
        soluta hic error voluptates, nihil culpa asperiores!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
        cumque voluptatibus. Illum neque ea, earum ex explicabo blanditiis
        soluta hic error voluptates, nihil culpa asperiores!
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
